@charset "UTF-8";

body {
     background-color: lightsalmon;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
 }

 h1 {
     color: sienna;
     background-color: burlywood;
 }

 h2 {
     color: chocolate;
 }

 p {
     text-align: justify;
 }