@charset "UTF-8"; 

*{
   /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(90deg, #111226, #2C3140, #435159, #7B8B8C);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
}

h1{
    color: #435159;
    text-align: center;
    text-shadow: 1px 1px 2px black;

}

h2 {
    color: #435159 ;
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #2C3140, #435159, #7B8B8C);
}